@model IEnumerable<LifxMvc.Domain.Bulb>

@{
	ViewBag.Title = "Bulb List";
}



<h2>Bulbs</h2>


<p>
	<a href="@Url.Action("Discover", "Bulb")" class="btn btn-sm btn-default aria-label="Discover Bulbs"">
		<span class="glyphicon glyphicon-search" aria-hidden="true"></span>
	</a>


	@{
		var areAnyOn = 0 < Model.Where(x => x.IsOn).Count();
		var masterColor = string.Format("color:{0}", areAnyOn ? "red" : "gray");
	}

	<a href="@Url.Action("TogglePowerAll", "Bulb")" class="btn btn-sm btn-default aria-label=" Toggle Power on all Bulbs"">
		<span class="glyphicon glyphicon-off" aria-hidden="true" style="@masterColor"></span>
	</a>


	@Html.ActionLink(0 < Model.Where(x => x.IsOn).Count() ? "On" : "Off",
			"TogglePowerAll",
			null,
			@areAnyOn ? new { @class = "btn btn-sm btn-info" } : new { @class = "btn btn-sm btn-danger" })
</p>


<table class="table">
	<tr>
		<th>
			@Html.DisplayNameFor(model => model.Group)
		</th>
		<th>
			@Html.DisplayNameFor(model => model.Label)
		</th>
		<th>
			@Html.DisplayNameFor(model => model.Hue)
		</th>
		<th>
			@Html.DisplayNameFor(model => model.Saturation)
		</th>
		<th>
			@Html.DisplayNameFor(model => model.Brightness)
		</th>
		<th>
			@Html.DisplayNameFor(model => model.Kelvin)
		</th>
		<th></th>
	</tr>

	@foreach (var item in Model)
	{
	<tr>
		<td>
			@helper GetGroupGlyphicon(string group)
			{
				var groupIsOn = Model.Where(x => x.IsOn && x.Group == group).Count() > 0;

				var groupColor = string.Format("color:{0}", groupIsOn ? "red" : "gray");
					<span class="glyphicon glyphicon-off" aria-hidden="true" style="@groupColor"></span>
			}

			<a href="@Url.Action("TogglePowerGroup", "Bulb", new { item.Group })" class="btn btn-sm btn-default aria-label=" Toggle Power on this Group"">
				@GetGroupGlyphicon(item.Group)
			</a>
			@Html.DisplayFor(modelItem => item.Group)
		</td>
		<td>
			@helper GetBulbGlyphicon(bool isOn)
			{
				var bulbColor = string.Format("color:{0}", isOn ? "red" : "gray");
				<span class="glyphicon glyphicon-off" aria-hidden="true" style="@bulbColor"></span>
			}

			<a href="@Url.Action("TogglePower", "Bulb", new { item.BulbId })" class="btn btn-sm btn-default aria-label=" Toggle Power on this Bulb"">
				@GetBulbGlyphicon(item.IsOn)
			</a>
			@Html.DisplayFor(modelItem => item.Label)
		</td>
		<td>
			@Html.DisplayFor(modelItem => item.Hue)
		</td>
		<td>
			@Html.DisplayFor(modelItem => item.Saturation)
		</td>
		<td>
			@Html.DisplayFor(modelItem => item.Brightness)
		</td>
		<td>
			@Html.DisplayFor(modelItem => item.Kelvin)
		</td>
		<td>
			@Html.ActionLink("Edit", "Edit", new { id=item.BulbId }) |
			@Html.ActionLink("Details", "Details", new { id=item.BulbId }) |
			@Html.ActionLink("Delete", "Delete", new { id=item.BulbId })
		</td>
	</tr>
}

</table>
